@model Models.EF.User
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header {
Cập nhật thông tin người dùng
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<fieldset>
		<div class="editor-label">
			@Html.LabelFor(model => model.UserName)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.UserName)
			@Html.ValidationMessageFor(model => model.UserName)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Password)
		</div>
		<div class="editor-field">
			@Html.PasswordFor(model => model.Password)
			@Html.ValidationMessageFor(model => model.Password)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Name)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Address)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Address)
			@Html.ValidationMessageFor(model => model.Address)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Email)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Email)
			@Html.ValidationMessageFor(model => model.Email)
		</div>

		<div class="editor-label">
			@Html.LabelFor(model => model.Phone)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Phone)
			@Html.ValidationMessageFor(model => model.Phone)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Status)
		</div>
		<div class="editor-field">
			@Html.CheckBoxFor(model => model.Status)
			@Html.ValidationMessageFor(model => model.Status)
		</div>

		<p>
			<input type="submit" value="Edit" />
		</p>
	</fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>